---
import DotIcon from "@/components/icons/DotIcon.astro";
---

<div
  class="bg-gray-800 p-6 max-w-4xl rounded-2xl shadow-[var(--shadow-white)] transition-transform duration-800 ease-out hover:scale-[1.03]"
  data-aos="fade-up"
  data-aos-duration="400"
>
  <div class="flex items-center gap-4">
    <DotIcon class="size-6 text-accent" />
    <p class="text-base text-white">
      More than just writing code, I approach problems as an <span
        class="font-semibold text-accent">engineer</span
      > — designing <span class="font-semibold text-accent">reliable</span> and
      <span class="font-semibold text-accent">purpose-driven solutions</span> that
      truly fit each context and need.
    </p>
  </div>
</div>
