---
interface Props {
  href: string;
  primary?: boolean;
}
const { href, primary = false } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`w-full flex justify-center items-center gap-2 rounded-2xl py-2 hover:animate-lift ${
    primary ? "bg-white text-primary font-bold" : "border border-white/20"
  }`}
>
  <slot />
</a>
