@import "tailwindcss";

@theme static {
  --breakpoint-xs: 30rem;

  --color-primary: oklch(23% 0.033 256.848);
  --color-primary-900: oklch(15% 0.033 256.848);
  --color-white: #f9f9f9;
  --color-accent: oklch(80% 0.2 140);

  --animate-float: float 3s ease-in-out infinite;
  --animate-lift: lift 0.2s ease-out forwards;
  --animate-lift-soft: lift-soft 0.2s ease-out forwards;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes lift {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-8px);
    }
  }
  @keyframes lift-soft {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-3px);
    }
  }
}

@layer base {
  :root {
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --navbar-height: 5rem;
    --shadow-primary: 0 0 5px rgba(0, 0, 0, 0.8);
    --shadow-white: 0 0 10px rgba(249, 249, 249, 0.8);
    --shadow-white-sm: 0 0 4px rgba(249, 249, 249, 0.3);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body > section {
    min-height: calc(100dvh - var(--navbar-height));
    scroll-margin-top: var(--navbar-height);
    @apply max-w-7xl w-[100dvw] overflow-x-hidden;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .nav-item-activate {
    @apply bg-white text-primary py-2 px-4 rounded-lg font-bold;
  }

  .nav-item-mobile-activate {
    @apply bg-white text-primary font-bold;
  }

  .tooltip {
    @apply absolute -top-8 left-1/2 -translate-x-1/2 bg-black text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none whitespace-nowrap;
    position: absolute;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    z-index: 1000;
  }

  .no-select {
    @apply select-none cursor-default;
  }

  .section-title {
    @apply text-3xl sm:text-[clamp(2.5rem,3dvw,3rem)] xl:text-5xl 2xl:text-6xl;
  }

  .section-description {
    @apply max-w-2xl xl:max-w-4xl text-base sm:text-lg xl:text-2xl 2xl:text-3xl;
  }
}
