---
import TechSkillsTab from "./components/TechSkillsTab";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="flex flex-col items-center text-white py-10">
  <h1 class="text-6xl font-bold text-center">Tech Stack</h1>
  <p class="text-xl mt-3 text-center max-w-xl">
    A collection of <span class="text-accent">software technologies</span> I've mastered,
    explored, or integrated into real-world solutions.
  </p>

  <TechSkillsTab client:load />
</section>
