---
import { ui } from "@/i18n/ui";
import FloatingCubesScene from "./components/FloatingCubesScene";
import SkillsTitle from "./components/SkillsTitle.astro";
import TechSkillsTab from "./components/TechSkillsTab";

interface Props {
  id: string;
}

const { id } = Astro.props;
import { getLangFromUrl, getSkillsCategoryMap } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translations = getSkillsCategoryMap(lang);
---

<section
  id={id}
  class="relative px-5 xl:px-10 sm:h-[calc(100dvh_-_var(--navbar-height))] overflow-visible"
>
  <div
    class="absolute w-[100dvw] top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] h-full"
  >
    <FloatingCubesScene client:visible />
  </div>
  <div class="flex flex-col items-center text-white w-full h-full">
    <div class="gap-5 flex flex-col mt-20 xl:mt-0 xl:justify-end xl:h-[25%]">
      <SkillsTitle />
    </div>

    <div
      class="w-full xl:h-[75%] pt-10"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      <TechSkillsTab translations={translations} client:visible />
    </div>
  </div>
</section>
