<div class="flex flex-col items-center">
  <h1
    class="max-w-4xl text-6xl font-bold section-title"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    Contact Me!
  </h1>
  <p
    class="text-3xl text-center max-w-4xl mt-2 section-description"
    data-aos="fade-up"
    data-aos-duration="900"
  >
    <span class="text-accent">Open to Work</span> — Let's Build Together
  </p>
</div>
