---
import ArrowIcon from "@/components/icons/ArrowIcon.astro";
import type { ContactMeItem } from "@/types/ContactMeItem";

interface Props {
  item: ContactMeItem;
}

const { item } = Astro.props;
const { Icon, description, title, url } = item;
---

<a
  target="_blank"
  href={url}
  class="relative w-full rounded-3xl border-1 sm:border-2 border-white flex items-center gap-4
        py-4 xl:py-8 px-6
        max-w-3xl xl:max-w-full hover:animate-lift"
>
  <ArrowIcon
    class="absolute right-2 sm:right-10 top-[50%] -translate-y-[50%]"
  />
  <span class="bg-white rounded-xl p-2"
    ><Icon class="size-8 xl:size-10 text-primary" /></span
  >
  <div>
    <h4 class="text-xl xl:text-2xl font-bold">{title}</h4>
    <p class="text-base max-w-[95%] sm:max-w-full xl:text-lg">{description}</p>
  </div>
</a>
