---
import AboutClosing from "./components/AboutClosing.astro";
import AboutTimeline from "./components/AboutTimeline.astro";
import AboutTitle from "./components/AboutTitle.astro";
import PersonalInfoCard from "./components/PersonalInfoCard.astro";
import WhoIAm from "./components/WhoIAm.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="flex flex-col items-center gap-10 text-white py-10">
  <AboutTitle />

  <div class="flex w-full">
    <div
      class="w-[50%] px-15 flex flex-col items-start justify-center gap-10"
      data-aos="fade-up"
      data-aos-duration="400"
    >
      <WhoIAm />
      <PersonalInfoCard />
    </div>
    <div class="w-[50%]"><AboutTimeline /></div>
  </div>
  <AboutClosing />
</section>
