---
import ProjectButton from "./ProjectButton.astro";
import OpenLinkIcon from "@/components/icons/OpenLinkIcon.astro";
import CodeIcon from "@/components/icons/CodeIcon.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  demoUrl: string;
  codeUrl: string;
}

const { demoUrl, codeUrl } = Astro.props;
---

<span class="h-[20px] w-full"></span>

<div class="flex justify-between mt-auto">
  <div class="w-[58%]">
    <ProjectButton href={demoUrl} primary>
      {t("projects.button.demo")}
      <OpenLinkIcon class="size-4" />
    </ProjectButton>
  </div>
  <div class="w-[38%]">
    <ProjectButton href={codeUrl}>
      {t("projects.button.code")}
      <CodeIcon class="size-4" />
    </ProjectButton>
  </div>
</div>
