<h1
  class="font-bold text-center z-100 section-title"
  data-aos="fade-up"
  data-aos-duration="800"
>
  Tech Stack
</h1>
<p
  class="text-center z-100 section-description"
  data-aos="fade-up"
  data-aos-duration="800"
>
  A collection of <span class="text-accent">software technologies</span> I've mastered,
  explored, or integrated into real-world solutions.
</p>
