<h1
  class="text-6xl font-bold text-center z-100"
  data-aos="fade-up"
  data-aos-duration="800"
>
  Tech Stack
</h1>
<p
  class="text-3xl text-center max-w-4xl z-100"
  data-aos="fade-up"
  data-aos-duration="800"
>
  A collection of <span class="text-accent">software technologies</span> I've mastered,
  explored, or integrated into real-world solutions.
</p>
