---
import { contactMeData } from "@/data/contactMeData";
import SocialButton from "./SocialButton.astro";
---

<div
  class="mt-15 flex justify-start items-center gap-8"
  data-aos="fade-up"
  data-aos-duration="1400"
>
  <p class="font-bold text-base 2xl:text-lg">Contact me:</p>
  <div class="flex justify-start gap-2">
    {
      contactMeData.map((d) => (
        <SocialButton tooltip={d.title} Icon={d.Icon} url={d.url} />
      ))
    }
  </div>
</div>
