---
import DownloadIcon from "@/components/icons/DownloadIcon.astro";
---

<a
  href="/documents/cv.pdf"
  download
  class="py-1 sm:py-2 border-2 border-white rounded-3xl w-full
      flex justify-center items-center gap-4
      text-sm 2xl:text-base mt-8 xl:mt-15
      transition-all duration-300 hover:bg-white hover:text-primary hover:font-bold"
  data-aos="fade-up"
  data-aos-duration="1600"
>
  Download My CV
  <DownloadIcon class="size-4 2xl:size-5 -translate-y-[2px]" />
</a>
