<p
  class="mt-8 text-pretty text-justify text-xl"
  data-aos="fade-up"
  data-aos-duration="700"
>
  <span class="text-accent font-semibold">Telecommunications Engineer</span>
  focused on software development, from backend and mobile apps to cloud infrastructure
  and databases. <br />I design <span class="text-accent font-semibold"
    >scalable systems</span
  > that solve real-world problems with clean, thoughtful architecture.
</p>
