---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Props {
  Icon: AstroComponentFactory;
  tooltip: string;
  url: string;
}

const { tooltip, Icon, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="group aspect-square rounded-full bg-white flex items-center justify-center p-1 sm:p-2
        cursor-pointer transition-transform duration-300 hover:scale-115"
>
  <Icon class="text-primary size-5 sm:size-6 2xl:size-7" />
  <span class="tooltip">{tooltip}</span>
</a>
