---
import FloatingOrbs from "./components/FloatingOrbs.astro";
import ContactMe from "./components/ContactMe.astro";
import HeroDescription from "./components/HeroDescription.astro";
import HeroTitle from "./components/HeroTitle.astro";
import Myself from "./components/Myself.astro";
import { floatingOrbsData } from "./data/floatingOrbsData";
import DownloadCV from "./components/DownloadCV.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section
  id={id}
  class="flex flex-col items-center
        pt-10 gap-10 xl:p-0 xl:flex-row xl:gap-5 2xl:gap-10"
>
  <div
    class="w-[90%] md:w-[70%] lg:w-[55%] xl:w-[52%] 2xl:w-[48%] relative flex justify-center"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <Myself />
    {floatingOrbsData.map((orb) => <FloatingOrbs {...orb} />)}
  </div>
  <div
    class="xl:w-[48%] px-5 sm:px-10 h-full flex flex-col items-center xl:items-start xl:justify-center text-white xl:pe-5"
  >
    <HeroTitle />
    <HeroDescription />
    <ContactMe />
    <DownloadCV />
  </div>
</section>
