---
import SendMessageForm from "./components/SendMessageForm";
import SocialContact from "./components/SocialContact.astro";
import { socialContacts } from "./data/socialContacts";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="py-5 text-white">
  <div class="flex flex-col items-center">
    <h1
      class="max-w-4xl text-6xl font-bold"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      Contact Me!
    </h1>
    <p
      class="text-3xl text-center max-w-4xl mt-2"
      data-aos="fade-up"
      data-aos-duration="900"
    >
      <span class="text-accent">Open to Work</span> — Let's Build Together
    </p>
  </div>
  <div class="w-full mt-20 flex gap-5">
    <div
      class="w-[50%] flex flex-col justify-start gap-5"
      data-aos="fade-up"
      data-aos-duration="900"
    >
      {socialContacts.map((item) => <SocialContact item={item} />)}
    </div>
    <div class="w-[50%] flex items-center">
      <SendMessageForm client:visible />
    </div>
  </div>
</section>
