---
import CodeFileIcon from "@/components/icons/CodeFileIcon.astro";
import { navItemsData } from "@/data/navItemsData";
---

<nav
  aria-label="Main navigation"
  class="sticky z-999 top-0 right-0 w-full h-[var(--navbar-height)]
  shadow-2xl shadow-black/25 bg-transparent backdrop-blur"
>
  <div
    class="h-full flex items-center justify-between max-w-7xl w-full mx-auto text-white"
  >
    <a class="text-3xl font-bold flex items-center gap-2" href="/">
      <CodeFileIcon class="size-8" />My Portfolio
    </a>
    <ul class="flex gap-10 justify-center items-center h-full">
      {
        navItemsData.map((item) => {
          const { Icon, className = "size-5" } = item.icon;
          return (
            <li>
              <a
                href={item.link}
                class="flex items-center gap-2 text-base transition-all duration-300 ease-in-out"
              >
                <Icon class={className} /> {item.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>
