---
import ExperienceItem from "./components/ExperienceItem.astro";
import { experienceData } from "./data/experienceData";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section
  id={id}
  class="flex flex-col justify-start items-center py-10 text-white font-bold"
>
  <h1 class="text-6xl" data-aos="fade-up" data-aos-duration="800">
    My Experience
  </h1>
  <ol class="relative mt-16">
    {
      experienceData.map((item) => (
        <li>
          <ExperienceItem item={item} />
        </li>
      ))
    }
  </ol>
</section>
