---
import "aos/dist/aos.css";
import "react-tooltip/dist/react-tooltip.css";
import "@/styles/global.css";
import NavbarObserverScript from "@/components/scripts/NavbarObserverScript.astro";
import ScrollTopButtonObserverScript from "@/components/scripts/ScrollTopButtonObserverScript.astro";
import AosInitScript from "@/components/scripts/AosInitScript.astro";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loammi Ugaz - Software Developer Portfolio</title>
    <meta
      name="description"
      content="I'm Loammi Ugaz, a Telecommunications Engineer specialized in Full-Stack Software Development and Cloud Architecture. Explore my portfolio, skills, and projects."
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <meta property="og:site_name" content="Loammi Ugaz Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Loammi Ugaz - Software Developer" />
    <meta
      property="og:description"
      content="Telecommunications Engineer specialized in Software Development and Cloud Architecture. View my portfolio and skills."
    />
    <meta property="og:url" content="https://portfolio.jexugaz.work/" />
    <meta
      property="og:image"
      content="https://portfolio.jexugaz.work/og-image.png"
    />

    <meta name="author" content="Loammi Ugaz" />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="overflow-x-hidden bg-primary bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
    <slot />
  </body>
  <AosInitScript />
  <NavbarObserverScript />
  <ScrollTopButtonObserverScript />
</html>
